<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body class="d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center bg-gradient-primary" style="background-image: url(&quot;{% static "assets/img/back.jpg" %}&quot;);filter: blur(0px);padding: 0px;background-color: #fda016;" onload="checkCookie()">
    <div class="col">
        <div class="row d-sm-flex justify-content-sm-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="max-width: 400px;margin-top: 100px;">
                <div class="card shadow-lg o-hidden border-0 my-5" style="background-color: rgba(255,255,255,0.78);margin: 0px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center d-xl-flex justify-content-xl-center" style="font-family: 'Titillium Web', sans-serif;">{% trans "Error 404" %}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p class="lead text-center" style="color: #4a0b0b;font-family: 'Titillium Web', sans-serif;margin-top: 20px;"><strong>{% trans "Lo sentimos, ha ocurrido un error" %}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center"><a class="btn btn-secondary" role="button" style="margin-top: 30px;" href="/">{% trans "Volver a la página principal" %}</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'scripts.html' %}

</body>

</html>
