<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body onload="checkCookie()" id="page-top" style="padding: 0px">
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success"><strong>{{ message }}</strong></div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning"><strong>{{ message }}</strong></div>
            {% else %}
                <div class="alert alert-danger"><strong>{{ message }}</strong></div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-dark mb-4" style="font-family: 'Titillium Web', sans-serif; margin-top: 5px; margin-left: 24px; margin-bottom: 24px">{% trans "¡Hola" %} {{user.first_name}}!</h2>
        <div class="d-flex flex-row-reverse align-items-center">
            <a class="btn btn-primary btn-sm" style="background-color: #4a0b0b; margin-top: auto; margin-bottom: auto; margin-right: 25px" href="/settingstudents">
                <i class="fas fa-cog"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if actual %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico" %}: {{ curso_actual }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso_actual }}">
            {% else %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico" %}: {{ curso.nombre }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso.nombre }}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row" style="margin-left: 24px">
                <h4 style="font-family: 'Titillium Web', sans-serif;">{% trans "Consultar histórico" %}</h4>
            </div>
            <form action="/cambiarcurso" method="POST">
                {% csrf_token %}
                <div class="row" style="margin-left: 24px; margin-top: 10px">
                    <select class="custom-select chosen" required="" name="curso" style="color: #232323; width: 30%;">
                        {% for curso in cursos %}
                        {% if forloop.counter == 1 %}
                        <option selected value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% else  %}
                        <option value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row" style="margin-left: 15px; margin-top: 15px">
                    <button style="border-color: gray;" class="btn btn-outline-secondary">{% trans "Ir a curso" %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">{% trans "Tus mapas disponibles" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin: 24px;">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Id</th>
                            <th>{% trans "Nombre del mapa" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mapa in mapas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="map_students.html?mapa={{ mapa.id }}" style="color: #858796;margin-right: 20px;">{{ mapa.nombre }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px; position: fixed; bottom: 0; width: 100%">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

{% include 'scripts.html' %}

</body>

</html>
