<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body onload="checkCookie()" class="bg-gradient-primary" style="background-image: url(&quot;{% static "assets/img/back.jpg" %}&quot;);filter: blur(0px);background-color: #fda016;">
    <div class="row sticky-top" id="cookies" style="background-color: #fda016;" role="alert">
        <div class="col-sm-11 col-md-11 col-lg-11" style="padding-top: 5px;padding-bottom: 5px;padding-left: 25px;">
            <p style="font-size: 14px;color: #282d32;font-family: Roboto, sans-serif;">{% trans "Utilizamos cookies propias y de terceros y tecnologías similares para almacenar y administrar las preferencias del usuario, así como para garantizar el correcto funcionamiento de esta web. Si continúa navegando por esta web, estará aceptando su uso." %}&nbsp;<br></p>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
            style="padding: 0px;">
            <button class="btn btn-secondary" type="button" style="height: 30px;margin: 0px;padding: 0px;width: 72px;" onclick="setCookie()">{% trans "Aceptar" %}</button>
        </div>
    </div>
    <div class="container d-xl-flex justify-content-xl-center">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="max-width: 400px;padding: 0px 15px;">
                <div class="card shadow-lg o-hidden border-0 my-5" style="background-color: rgba(255,255,255,0.78);margin: 0px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center"><img class="border rounded-circle d-xl-flex justify-content-xl-start" src="{% static "assets/img/logo_transparent.png" %}" style="background-color: rgba(74,11,11,0);/*width: 40%;*//*height: 100%;*/max-width: 50px;max-height: 50px;">
                                        <h1 class="text-center d-xl-flex justify-content-xl-end align-items-xl-center"
                                            style="font-size: 22px;color: rgb(0,0,0);font-family: ABeeZee, sans-serif;">{% trans "Restablecimiento de contraseña" %}</h1>
                                    </div>
                                </div>

                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div class="alert alert-success"><strong>{{ message }}</strong></div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning"><strong>{{ message }}</strong></div>
                                        {% else %}
                                            <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                <form action="/nuevacontrasena" method="POST">
                                    {% csrf_token %}
                                    <div class="row" style="margin: 30px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center" style="padding: 0px;">
                                            <p style="color: rgb(0,0,0);margin: 0px;">{% trans "Introduce la nueva contraseña" %}</p>
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" value="{{ id }}">
                                    <div class="row" style="margin: 25px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <input type="password" name="contrasena_nueva" placeholder="{% trans "Nueva contraseña" %}" style="border-radius: 25px;height: 32px;font-size: 14px;" required="">
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 25px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <input type="password" name="contrasena_nueva_rep" placeholder="{% trans "Repite la nueva contraseña" %}" style="border-radius: 25px;height: 32px;font-size: 14px;" required="">
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 30px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <button class="btn btn-primary" type="submit" style="border-radius: 15px;background-color: transparent;color: #4a0b0b;border-color: #4a0b0b">{% trans "Enviar" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="margin: 30px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center"><a href="index.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Ya tienes cuenta? Inicia sesión" %}</a></div>
                                </div>
                                <div class="row" style="margin: 10px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center"><a href="registro.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Aún no? ¡Regístrate!" %}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'scripts.html' %}

</body>

</html>