{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Stics</title>
    <meta name="twitter:description" content="Stics es un sitio web que permite al profesorado de educación secundaria o primaria la enseñanza de matemáticas, tecnología, etc. de forma innovadora">
    <meta name="twitter:image" content="{% static "assets/img/logo_transparent.png" %}">
    <meta property="og:type" content="website">
    <meta name="description" content="Stics es un sitio web que permite al profesorado de educación secundaria o primaria la enseñanza de matemáticas, tecnología, etc. de forma innovadora">
    <meta property="og:image" content="{% static "assets/img/logo_transparent.png" %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Stics">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/favicon.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/favicon.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/favicon.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/favicon.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static "assets/css/dropdown-search-bs4.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Google-Style-Text-Input.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/InputText.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/List-item.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Lista-Productos-Canito.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Material-Inputs.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Select-Search.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Studious-selectbox.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Table-With-Search-1.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Table-With-Search.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Tarjetones.css" %}">
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <style>
        .custom-file-label:after{
            content:"{% trans "Explorar" %}"
        }
    </style>
</head>
