<!DOCTYPE html>
<html style="height: 100%">

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body class="d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center bg-gradient-primary" style="height: 100%; background-image: url(&quot;{% static "assets/img/back.jpg" %}&quot;);filter: blur(0px);padding: 0px;background-color: #fda016;" onload="checkCookie()">
    <div class="col" style="height: 100%">
        <div class="row sticky-top" id="cookies" style="background-color: #fda016;" role="alert">
            <div class="col-sm-11 col-md-11 col-lg-11" style="padding-top: 5px;padding-bottom: 5px;padding-left: 25px;">
                <p style="font-size: 14px;color: #282d32;font-family: Roboto, sans-serif;">{% trans "Utilizamos cookies propias y de terceros y tecnologías similares para almacenar y administrar las preferencias del usuario, así como para garantizar el correcto funcionamiento de esta web. Si continúa navegando por esta web, estará aceptando su uso." %}<br></p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                style="padding: 0px;">
                <button class="btn btn-secondary" type="button" style="height: 30px;margin: 0px;padding: 0px;width: 72px;" onclick="setCookie()">{% trans "Aceptar" %}</button>
            </div>
        </div>
        <div class="row d-flex d-sm-flex justify-content-center justify-content-sm-center" style="height: 88%">
            <div class="col-md-9 col-lg-12 col-xl-10" style="max-width: 400px;">
                <div class="card shadow-lg o-hidden border-0 my-5" style="background-color: rgba(255,255,255,0.78);margin: 0px;">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div style="margin-bottom: 20px" class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                        <img class="border rounded-circle" src="{% static "assets/img/logo_transparent.png" %}" style="width: 120px;height: 120px;">
                                    </div>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div class="alert alert-success"><strong>{{ message }}</strong></div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning"><strong>{{ message }}</strong></div>
                                        {% else %}
                                            <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <form action="/conexion" method="POST">
                                    {% csrf_token %}
                                    <div class="row" style="margin: 20px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center" style="padding: 0px">
                                            <div class="form-group" style="width: 100%;">
                                                <input class="form-control" type="email" placeholder="{% trans "Dirección de email" %}" name="email" required="" style="width: 100%; margin: 0px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center" style="padding: 0px">
                                            <div class="form-group" style="width: 100%;">
                                                <input class="form-control" type="password" name="contrasena" placeholder="{% trans "Contraseña" %}" style="width: 100%; margin: 0px">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 40px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <button class="btn btn-primary" role="button" type="submit" style="border-radius: 15px;background-color: transparent;color: #4a0b0b;border-color: #4a0b0b">{% trans "Entrar" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="margin: 40px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                        <a href="olvido-contrasena.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Olvidaste tu contraseña?" %}</a>
                                    </div>
                                </div>
                                <div class="row" style="margin: 10px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                        <a href="registro.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Aún no tienes cuenta? ¡Únete!" %}</a>
					<a style="margin-left: 5px; margin-top: -1px" href="https://youtu.be/MyWhkpvbNjM">
                                            <i class="far fa-question-circle" style="color: grey"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center footer-dark" style="background-color: rgba(255,255,255,0.78); height: 12%; width: 75%; margin: auto; border-top-left-radius: 20px; border-top-right-radius: 20px">
            <footer style="margin-top: 10px">
                <div class="container" style="margin: 0px;">
                    <p class="text-center" style="color: #282d32">{% trans "¿Quieres Stics para tu centro educativo? Descúbrelo y contacta con nosotros" %} <a style="color: #282d32" href="ventas.html">{% trans "aquí" %}</a></p>
                    <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
                </div>
            </footer>
        </div>
    </div>
    
{% include 'scripts.html' %}

</body>

</html>
