<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body id="page-top" style="padding: 0px;" onload="checkCookie(); getCoordinates('{{ mapa.localizado_en.nombre }}')">
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success"><strong>{{ message }}</strong></div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning"><strong>{{ message }}</strong></div>
            {% else %}
                <div class="alert alert-danger"><strong>{{ message }}</strong></div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <h2 class="text-dark mb-0">{% trans "Mapa de:" %} {{ mapa.localizado_en.nombre }}</h2>
    </div>
    <div class="row">
        <div class="col" style="margin: 0px 0px 0px 24px;">
            <h4 style="color: rgb(0,0,0);">{% trans "Selecciona los indicadores a mostrar:" %}</h4>
            {% for elem in mapa.contener_informacion.all %}
            {% if forloop.first %}
            <div class="custom-control custom-switch" style="margin: 30px 0px 0px 20px;">
            {% else %}
            <div class="custom-control custom-switch" style="margin: 10px 0px 0px 20px;">
            {% endif %}
                <input class="custom-control-input" type="checkbox" id="{{elem.nombre}}" onclick="updateLayer('{{ elem.nombre }}')">
                <label class="custom-control-label" for="{{elem.nombre}}" style="color: rgb(0,0,0);"><p style="font-size: 16px">{% trans elem.nombre %}</p></label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="padding: 20px 40px;">
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
            <div class="shadow" style="width:100%; height:100%; border-radius:5px" id="map"></div>
            <div id="info">&nbsp;</div>
        </div>
    {% if graficos|length == 0 %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        </div>
    </div>
    {% endif %}
    {% for grafico in graficos %}
        {% if forloop.first %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        {% endif %}
    {% if forloop.counter == 2 %}
    <div class="row" style="padding: 20px 40px;">
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
    {% endif %}
        {% if forloop.counter == 3 %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        {% endif %}
            {% if grafico.tipo == 1 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Evolución temporal de la estación" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if grafico.tipo == 2 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Evolución temporal media del contaminante" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph2" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if grafico.tipo == 3 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Último valor registrado" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph3" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
    {% if forloop.first %}
        </div>
    </div>
    {% endif %}
        {% if forloop.counter == 2 %}
        </div>
        {% endif %}
        {% if forloop.counter == 3 %}
        </div>
        {% endif %}
    {% if forloop.last and forloop.counter > 1 %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="d-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <h2 class="text-dark mb-0">Quiz</h2>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <div class="d-flex flex-row-reverse align-items-center">
            <a class="btn btn-primary btn-sm" style="background-color: #b9935a; margin-top: auto; margin-bottom: auto" href="/imprimir?correccion=yes&id={{ mapa.id }}">
                <i class="fas fa-print"></i>
            </a>
            <p class="text-dark mb-0">{% trans "Corrección:" %} </p>
            <a class="btn btn-primary btn-sm" style="background-color: #4a0b0b; margin-top: auto; margin-bottom: auto" href="/imprimir?correccion=no&id={{ mapa.id }}">
                <i class="fas fa-print"></i>
            </a>
            <p class="text-dark mb-0">{% trans "Imprimir cuestionario:" %} </p>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;padding-right: 40px;padding-bottom: 20px;padding-left: 40px;">
        <div class="col">
            <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                <div class="card-header py-3">
                    <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Preguntas" %}</strong></p>
                </div>
                <div style="height: 80%">
                    <ul class="nav nav-tabs">
                        {% for pregunta in preguntas %}
                        {% if forloop.counter0 == 0 %}
                        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-{{ forloop.counter }}" style="color: #282d32;">{% trans "Pregunta" %} {{ forloop.counter }}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-{{ forloop.counter }}" style="color: #282d32;">{% trans "Pregunta" %} {{ forloop.counter }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% if preguntas|length == 0 %}
                        <div class="card-body" style="text-align: center;">
                            <h2 class="text-dark mb-0">Aún no hay preguntas</h2>
                        </div>
                        {% endif %}
                        {% for pregunta in preguntas %}
                        {% if forloop.counter0 == 0 %}
                        <div class="tab-pane active" role="tabpanel" id="tab-{{ forloop.counter }}">
                        {% else %}
                        <div class="tab-pane" role="tabpanel" id="tab-{{ forloop.counter }}">
                        {% endif %}
                        {% if pregunta.respuesta %}
                            <div class="card-body">
                                <form action="/editarpreguntatextual" method="POST">
                                    {% csrf_token %}
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Pregunta" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="col">
                                            <div class="form-group">
                                                <input class="form-control" value="{{ pregunta.titulo }}" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" value="{{ pregunta.id }}" name="id_pregunta">
                                    <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Respuesta" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="col">
                                            <div class="form-group">
                                                <input class="form-control" value="{{ pregunta.respuesta }}" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Editar" %}</button>
                                </form>
                                <form action="/eliminarpregunta" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                        <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                                        <button class="btn btn-danger btn-sm" type="submit">{% trans "Eliminar pregunta" %}</button>
                                    </div>
                                </form>
                            </div>
                        {% elif pregunta.tipo %}
                            <div class="card-body">
                                <form action="/editarpreguntarm" method="POST">
                                    {% csrf_token %}
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Pregunta" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="col">
                                            <div class="form-group">
                                                <input class="form-control" value="{{ pregunta.titulo }}" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta">
                                            </div>
                                        </div>
                                    </div> 
                                    <input type="hidden" value="{{ pregunta.id }}" name="id_pregunta">
                                    <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Respuestas" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 20px;">
                                        <div class="col">
                                            <div class="form-group" style="margin: 20px 0px 0px 20px;">
                                                {% for respuesta in pregunta.respuestas.all %}
                                                <div class="custom-control custom-switch" style="margin-top: 10px">
                                                    {% if respuesta.es_correcta %}
                                                    <input checked class="custom-control-input" type="checkbox" id="resp{{ forloop.counter }}" name="resp{{ respuesta.id }}">
                                                    {% else %}
                                                    <input class="custom-control-input" type="checkbox" id="resp{{ forloop.counter }}" name="resp{{ respuesta.id }}">
                                                    {% endif %}
                                                    <label class="custom-control-label" for="resp{{ forloop.counter }}" style="color: rgb(0,0,0)">
                                                        <p style="font-size: 17px">{{ respuesta.texto }}</p>
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Editar" %}</button>
                                </form>
                                <form action="/eliminarpregunta" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                        <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                                        <button class="btn btn-danger btn-sm" type="submit">{% trans "Eliminar pregunta" %}</button>
                                    </div>
                                </form>
                                </form>
                            </div>
                        {% else %}
                            <div class="card-body">
                                <form action="/editarpreguntaru" method="POST">
                                    {% csrf_token %}
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Pregunta" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 10px;">
                                        <div class="col">
                                            <div class="form-group">
                                                <input class="form-control" value="{{ pregunta.titulo }}" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta">
                                            </div>
                                        </div>
                                    </div> 
                                    <input type="hidden" value="{{ pregunta.id }}" name="id_pregunta">
                                    <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Respuesta" %}</strong>
                                    </p>
                                    <div class="form-row" style="margin-top: 0px;">
                                        <div class="col">
                                            <div class="form-group" style="margin: 0px 0px 0px 20px;">
                                                {% for respuesta in pregunta.respuestas.all %}
                                                    <div class="row" style="margin: 0px 0px 0px 0px;">
                                                        <div class="d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding: 0px;">
                                                            {% if respuesta.es_correcta %}
                                                            <input checked type="radio" id="{{ forloop.counter }}" value="{{ respuesta.id }}" style="margin: 0px; width: 20px" name="resp">
                                                            {% else %}
                                                            <input type="radio" id="{{ forloop.counter }}" value="{{ respuesta.id }}" style="margin: 0px; width: 20px" name="resp">
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-10 col-sm-10 col-md-10" style="width: 80%;height: 40px;">
                                                            <label class="col-form-label" style="padding: 0px;color: rgb(0,0,0);" for="r1">
                                                                <p style="font-size: 16px">{{ respuesta.texto }}</p>
                                                            </label>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Editar" %}</button>
                                </form>
                                <form action="/eliminarpregunta" method="POST">
                                    {% csrf_token %}
                                        <input type="hidden" value="{{ mapa.id }}" name="mapa">
                                        <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                                        <button class="btn btn-danger btn-sm" type="submit">{% trans "Eliminar pregunta" %}</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                <div class="card-header py-3">
                    <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Nueva pregunta" %}</strong></p>
                </div>
                <div class="card-body">
                    <p style="color: #4a0b0b;font-size: 16px;">
                        <strong>{% trans "Selecciona el tipo de pregunta" %}</strong>
                    </p>
                    <div class="col" style="text-align: center">
                        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#modalRT" style="color: #4a0b0b; background-color: transparent; margin-top: 20px; border-color: #4a0b0b; margin-bottom: 0px; width: 75%">{% trans "Respuesta textual" %}</button>
                        <hr>
                        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#modalRU" style="color: #4a0b0b; background-color: transparent; margin-top: 0px; border-color: #4a0b0b; margin-bottom: 0px; width: 75%">{% trans "Pregunta de respuesta única" %}</button>
                        <hr>
                        <button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#modalRM" style="color: #4a0b0b; background-color: transparent; margin-top: 0px; border-color: #4a0b0b; width: 75%">{% trans "Pregunta de respuesta múltiple" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <h2 class="text-dark mb-0">
	    {% trans "Añadir nuevo gráfico" %}
	    <a style="margin-left: 10px; margin-top: 3px" href="https://youtu.be/bzF5rOqIyXE">
                <i class="far fa-md fa-question-circle" style="color: grey"></i>
            </a>
	</h2>
    </div>
    <div class="row" style="padding: 20px 40px;">
        <div class="col">
            <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                <div class="card-header py-3">
                    <p style="color: #4a0b0b;font-size: 20px;">
                        <strong>{% trans "Nuevo gráfico" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <form method="POST" action="/updateGraphs">
                        {% csrf_token %}
                        <input type="hidden" name="idMapa" value="{{mapa.id}}">
                        <div class="form-row">
                            <div class="col">
                                <p style="color: #4a0b0b;font-size: 16px;">
                                    <strong>{% trans "Selecciona el tipo de gráfico" %}</strong>
                                </p>
                                <div class="form-group" style="margin-top: 15px;">
                                    <select class="form-control" name="tipo_grafico">
                                        <option value="1" selected="">{% trans "Gráfico de evolución temporal" %}</option>
                                        <option value="2">{% trans "Gráfico de media temporal con localizaciones a seleccionar" %}</option>
                                        <option value="3">{% trans "Último valor registrado" %}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center">
                                <button name="anadir" value="1" class="btn btn-primary" type="submit" style="margin-top: 20px;background-color: #4a0b0b;">{% trans "Añadir" %}</button>
                                <button name="eliminar" value="1" class="btn btn-danger" type="submit" style="margin-top: 20px;">{% trans "Eliminar gráfico" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px;">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <div class="modal fade" id="modalRT">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/preguntaRT?mapa={{ mapa.id }}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="mapa" value="{{ mapa.id }}">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Pregunta de respuesta textual" %}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p style="color: #4a0b0b;font-size: 16px;"><strong>{% trans "Introduce el texto de la pregunta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px">
                            <input class="form-control" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta">
                        </div>
                        <p style="color: #4a0b0b;font-size: 16px; margin-top: 15px"><strong>{% trans "Introduce el texto de la respuesta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px">
                            <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta">
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">{% trans "Guardar" %}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #4a0b0b">{% trans "Cerrar" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRU">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/preguntaRM?mapa={{ mapa.id }}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="mapa" value="{{ mapa.id }}">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Pregunta de respuesta única" %}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p style="color: #4a0b0b;font-size: 16px;"><strong>{% trans "Introduce el texto de la pregunta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px">
                            <input class="form-control" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta" required>
                        </div>

                        <div id="respuestasRU">
                            <p style="color: #4a0b0b;font-size: 16px; margin-top: 15px"><strong>{% trans "Introduce las respuestas" %}</strong></p>
                            <div class="form-group" style="margin-top: 15px" id="respuesta1">
                                <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta1" required>
                            </div>
                            <div class="form-group" style="margin-top: 15px" id="respuesta2">
                                <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta2" required>
                            </div>
                        </div>

                        <div class="row" style="margin-left: 0px">
                            <button onclick="anadirRespuestaUnica()" class="btn btn-outline-light btn-sm" type="button" style="padding: 6px; height: 30px; font-size: 8pt; margin-left: 0px; color: black; border-color: #4a0b0b; margin-bottom: 10px;">
                                <i class="fas fa-plus" style="font-size: 8pt"></i>
                                {% trans "Añadir respuesta" %}
                            </button>
                            <button onclick="eliminarRespuestaUnica()" class="btn btn-outline-light btn-sm" type="button" style="padding: 6px; height: 30px; font-size: 8pt; margin-left: 0px; color: black; border-color: #4a0b0b; margin-bottom: 10px;">
                                <i class="fas fa-minus" style="font-size: 8pt"></i>
                                {% trans "Eliminar respuesta" %}
                            </button>
                        </div>

                        <p style="color: #4a0b0b;font-size: 16px;"><strong>{% trans "Indica cuál es la respuesta correcta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px;">
                            <select class="form-control" required name="opcionesRM" id="opcionesRU">
                                <option value="1" selected="">{% trans "Respuesta 1" %}</option>
                                <option value="2">{% trans "Respuesta 2" %}</option>
                            </select>
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">{% trans "Guardar" %}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #4a0b0b">{% trans "Cerrar" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRM">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/preguntaRM?mapa={{ mapa.id }}" method="POST">
                    {% csrf_token %}

                    <input type="hidden" name="mapa" value="{{ mapa.id }}">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Pregunta de respuesta múltiple" %}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p style="color: #4a0b0b;font-size: 16px;"><strong>{% trans "Introduce el texto de la pregunta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px">
                            <input class="form-control" type="text" placeholder="{% trans "Introduce la pregunta" %}" name="pregunta" required>
                        </div>

                        <div id="respuestasRM">
                            <p style="color: #4a0b0b;font-size: 16px; margin-top: 15px"><strong>{% trans "Introduce las respuestas" %}</strong></p>
                            <div class="form-group" style="margin-top: 15px" id="respuestaM1">
                                <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta1" required>
                            </div>
                            <div class="form-group" style="margin-top: 15px" id="respuestaM2">
                                <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta2" required>
                            </div>
                        </div>

                        <div class="row" style="margin-left: 0px">
                            <button onclick="anadirRespuestaMultiple()" class="btn btn-outline-light btn-sm" type="button" style="padding: 6px; height: 30px; font-size: 8pt; margin-left: 0px; color: black; border-color: #4a0b0b; margin-bottom: 10px;">
                                <i class="fas fa-plus" style="font-size: 8pt"></i>
                                {% trans "Añadir respuesta" %}
                            </button>
                            <button onclick="eliminarRespuestaMultiple()" class="btn btn-outline-light btn-sm" type="button" style="padding: 6px; height: 30px; font-size: 8pt; margin-left: 0px; color: black; border-color: #4a0b0b; margin-bottom: 10px;">
                                <i class="fas fa-minus" style="font-size: 8pt"></i>
                                {% trans "Eliminar respuesta" %}
                            </button>
                        </div>

                        <p style="color: #4a0b0b;font-size: 16px;"><strong>{% trans "Indica cuál es la respuesta correcta" %}</strong></p>
                        <div class="form-group" style="margin-top: 15px;">
                            <select class="form-control" required name="opcionesRM" id="opcionesRM" multiple>
                                <option value="1" selected="">{% trans "Respuesta 1" %}</option>
                                <option value="2">{% trans "Respuesta 2" %}</option>
                            </select>
                        </div>
                    </div>
                
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">{% trans "Guardar" %}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style="background-color: #4a0b0b">{% trans "Cerrar" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% include 'scripts.html' %}
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<script>
    var map;
    var markersOfi;
    var markersNano;

    function getDashboard(id, contaminante){
	contaminante = contaminante.toLowerCase();

        if(id.startsWith("Sensores propios")){
            id = id.split(".").pop();
        }
        $.ajax({
            url: 'http://34.90.15.171:8000/checkDashboard?id=' + id + contaminante,
            success: function(data) {
                if(data.dashboard == null){
                    addDashboard(id, contaminante)
                }else{
                    if(document.getElementById('graph') != null){
                        document.getElementById('graph').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=6';
                    }
                    if(document.getElementById('graph2') != null){
                        document.getElementById('graph2').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=4';
                    }
                    if(document.getElementById('graph3') != null){
                        document.getElementById('graph3').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=2';
                    }
                }
            }
        })
    }

    function addDashboard(nombre, contaminante){
	contaminante = contaminante.toLowerCase();

	$.ajax({
            url: 'http://34.90.15.171:4000/api/dashboards/uid/-HKNMjzGk',
            method: "GET",
            contentType: "application/json",
            accepts: "application/json",
            success: function(data) {
                data.dashboard.id = null;
                data.dashboard.uid = null;
                data.dashboard.title = nombre + contaminante;

                data.dashboard.panels[0].targets[0].rawSql =  "SELECT\n  phenomenon_time AS \"time\",\n  " + contaminante + "\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time) AND\n  name = '" + nombre + "'\nORDER BY 1";
                data.dashboard.panels[0].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[0].targets[0].where[1].params[2] = "'" + nombre + "'";
                data.dashboard.panels[0].title = "ULTIMO VALOR " + contaminante;
                
                data.dashboard.panels[1].targets[0].rawSql = "SELECT\n  $__timeGroupAlias(phenomenon_time,$__interval),\n  avg(" + contaminante + ") AS \"" + contaminante + "\"\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time)\nGROUP BY 1\nORDER BY 1";
                data.dashboard.panels[1].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[1].targets[0].select[0][2].params[0] = contaminante;
                data.dashboard.panels[1].title = "AVG " + contaminante;
                
                data.dashboard.panels[2].targets[0].rawSql = "SELECT\n  phenomenon_time AS \"time\",\n  " + contaminante + "\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time) AND\n  name = '" + nombre + "'\nORDER BY 1";
                data.dashboard.panels[2].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[2].targets[0].where[1].params[2] = "'" + nombre + "'";
                data.dashboard.panels[2].title = contaminante;

		new_data = JSON.stringify(data);
		new_data = new_data.replace("\"no2\":", "\"" + contaminante + "\":");
                new_data = new_data.replace("\"no2\":", "\"" + contaminante + "\":");

                $.ajax({
                    url: 'http://34.90.15.171:4000/api/dashboards/db',
                    method: "POST",
                    contentType: "application/json",
                    accepts: "application/json",
                    data: new_data,
                    success: function(data) {
                        $.ajax({
                            url: 'http://34.90.15.171:8000/registerDashboard?idDashboard=' + data.uid + '&idEstacion=' + nombre + contaminante,
                            success: function(data) {
                                getDashboard(nombre, contaminante)
                            }
                        })
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.status);
                        console.log(thrownError);
                        console.log(xhr.responseText);
                    }
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
                console.log(xhr.responseText);
            }
        })
    }

    function getCoordinates(ciudad){
        $.ajax({
            url: 'https://eu1.locationiq.com/v1/search.php?key=f4e0e19d61efc3&q=' + ciudad + '&format=json',
            success: function(data) {
                map = L.map('map').setView([data[0].lat, data[0].lon], 12);
                
                L.tileLayer('https://api.mapbox.com/styles/v1/cildoz/ckb0jataa0t6z1iqg6tjuu7u0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2lsZG96IiwiYSI6ImNrYXJkdGltZjA4cDMzMW1zeDNqZjVoenAifQ.ptXQlauj5FviajZetuO_Ow', {
                    attribution: '© <a href="https://apps.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		    maxZoom: 18
                }).addTo(map);
                
                L.control.scale().addTo(map); 
            }
        });
    };

    function updateLayer(tipo){
        if(tipo == "Sensores oficiales"){
            if(document.getElementById('Sensores oficiales').checked){
                $.ajax({
                    url: 'http://34.90.15.171:8080/geoserver/SensoresOficiales/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=SensoresOficiales%3Aestaciones_2018&outputFormat=application%2Fjson',
                    success: function(data) {
                        markersOfi = L.markerClusterGroup();
                        var geojson = new L.geoJson(data, {
                            onEachFeature: function(feature, layer){
                                layer.bindPopup('{% trans "Estación" %}: ' + feature.properties.NOMBRE + '. {% trans "Código" %}: ' + feature.properties.COD_ESTACI + '. {% trans "Contaminante medido" %}: ' + feature.properties.CONTAMINAN);
                                layer.on('click', function () {
                                    getDashboard(feature.properties.NOMBRE, feature.properties.CONTAMINAN);
                                });
                            }}
                        );
                        markersOfi.addLayer(geojson);
                        map.addLayer(markersOfi);
                    }
                });
            }else{
                map.removeLayer(markersOfi)
            }
        }else{
            if(document.getElementById('Nanosensores').checked){
                $.ajax({
                    url: 'http://34.90.15.171:8080/geoserver/Nanosensores/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Nanosensores%3Asensor_low_cost_feature&outputFormat=application%2Fjson',
                    success: function(data) {
                        markersNano = L.markerClusterGroup();
                        var geojson = new L.geoJson(data, {
                            coordsToLatLng: function (coords) {
                                return new L.LatLng(coords[0], coords[1], coords[2]);
                            },
                            onEachFeature: function(feature, layer){
                                layer.bindPopup('{% trans "Sensor no oficial" %}. ID: ' + feature.id, '');
                                layer.on('click', function () {
                                    getDashboard(feature.id);
                                });
                            }}
                        );
                        markersNano.addLayer(geojson);
                        map.addLayer(markersNano);
                    }
                });
            }else{
                map.removeLayer(markersNano);
            }
        }
    }
</script>

<script>
    var numRespuestas = 2;

    function anadirRespuestaUnica(){
        var div = document.createElement('div');
        div.classList.add("form-group");
        div.style.marginTop = "15px";
        numRespuestas++;
        div.id = "respuesta" + numRespuestas;
        div.innerHTML = "<input class=\"form-control\" type=\"text\" placeholder=\"{% trans 'Introduce la respuesta' %}\" name=\"respuesta" + numRespuestas + "\" required>";
        document.getElementById("respuestasRU").appendChild(div);

        var option = document.createElement('option');
        option.value = numRespuestas;
        option.innerText = "{% trans 'Respuesta' %} " + numRespuestas;
        option.id = "opcion" + numRespuestas;
        document.getElementById("opcionesRU").appendChild(option);
    }

    function eliminarRespuestaUnica(){
        if(numRespuestas == 2){
            alert("{% trans 'Deben existir al menos dos respuestas posibles' %}");
        }else{
            var respuesta = document.getElementById("respuesta" + numRespuestas);
            respuesta.parentNode.removeChild(respuesta);

            var opcion = document.getElementById("opcion" + numRespuestas);
            opcion.parentNode.removeChild(opcion);
            
            numRespuestas--;
        }
    }
</script>

<script>
        var numRespuestasM = 2;
    
        function anadirRespuestaMultiple(){
            var div = document.createElement('div');
            div.classList.add("form-group");
            div.style.marginTop = "15px";
            numRespuestasM++;
            div.id = "respuestaM" + numRespuestasM;
            div.innerHTML = "<input class=\"form-control\" type=\"text\" placeholder=\"{% trans 'Introduce la respuesta' %}\" name=\"respuesta" + numRespuestasM + "\" required>";
            document.getElementById("respuestasRM").appendChild(div);
    
            var option = document.createElement('option');
            option.value = numRespuestasM;
            option.innerText = "{% trans 'Respuesta' %} " + numRespuestasM;
            option.id = "opcionM" + numRespuestasM;
            document.getElementById("opcionesRM").appendChild(option);
        }
    
        function eliminarRespuestaMultiple(){
            if(numRespuestasM == 2){
                alert("{% trans 'Deben existir al menos dos respuestas posibles' %}");
            }else{
                var respuesta = document.getElementById("respuestaM" + numRespuestasM);
                respuesta.parentNode.removeChild(respuesta);
    
                var opcion = document.getElementById("opcionM" + numRespuestasM);
                opcion.parentNode.removeChild(opcion);
                
                numRespuestasM--;
            }
        }
    </script>
</body>

</html>
