<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body id="page-top" style="padding: 0px;" onload="checkCookie(); getCoordinates('{{ mapa.localizado_en.nombre }}')">
    {% include 'navbar.html' %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <h2 class="text-dark mb-0">{% trans "Mapa de:" %} {{ mapa.localizado_en.nombre }}</h2>
    </div>
    <div class="row">
        <div class="col" style="margin: 0px 0px 0px 24px;">
            <h4 style="color: rgb(0,0,0);">{% trans "Selecciona los indicadores a mostrar:" %}</h4>
            {% for elem in mapa.contener_informacion.all %}
            {% if forloop.first %}
            <div class="custom-control custom-switch" style="margin: 30px 0px 0px 20px;">
            {% else %}
            <div class="custom-control custom-switch" style="margin: 10px 0px 0px 20px;">
            {% endif %}
                <input class="custom-control-input" type="checkbox" id="{{elem.nombre}}" onclick="updateLayer('{{ elem.nombre }}')">
                <label class="custom-control-label" for="{{elem.nombre}}" style="color: rgb(0,0,0);"><p style="font-size: 16px">{% trans elem.nombre %}</p></label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="padding: 20px 40px;">
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
            <div class="shadow" style="width:100%; height:100%; border-radius:5px" id="map"></div>
            <div id="info">&nbsp;</div>
        </div>
    {% if graficos|length == 0 %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        </div>
    </div>
    {% endif %}
    {% for grafico in graficos %}
        {% if forloop.first %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        {% endif %}
    {% if forloop.counter == 2 %}
    <div class="row" style="padding: 20px 40px;">
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
    {% endif %}
        {% if forloop.counter == 3 %}
        <div class="col-xl-6" style="padding: 0px 15px; height: 400px">
        {% endif %}
            {% if grafico.tipo == 1 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Evolución temporal de la estación" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if grafico.tipo == 2 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Evolución temporal media del contaminante" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph2" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if grafico.tipo == 3 %}
            <div class="card shadow mb-4" style="padding: 0px;height: 100%;margin: 0px;">
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 0px;padding-left: 20px;height: 70px;">
                    <p style="color: #4a0b0b;">
                        <strong>{% trans "Último valor registrado" %}</strong>
                    </p>
                </div>
                <div class="card-body">
                    <div class="chart-area" style="height: 100%">
                        <iframe id="graph3" src="" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            {% endif %}
    {% if forloop.first %}
        </div>
    </div>
    {% endif %}
        {% if forloop.counter == 2 %}
        </div>
        {% endif %}
        {% if forloop.counter == 3 %}
        </div>
        {% endif %}
    {% if forloop.last and forloop.counter > 1 %}
    </div>
    {% endif %}
    {% endfor %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="margin: 24px;">
        <h2 class="text-dark mb-0">Quiz</h2>
    </div>
    <div class="row" style="padding-top: 20px;padding-right: 40px;padding-bottom: 20px;padding-left: 40px;">
        {% if fin %}
            <div class="col">
                <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                    <div class="card-header py-3">
                        <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Fin del quiz" %}</strong></p>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">{% trans "¡Ya has terminado!" %}</h2>
                        <form>
                            <div class="form-row" style="margin-top: 20px;">
                                <div class="col">
                                    <strong><p>{% trans "Resultado:" %} {{ num_aciertos }}/{{ num_preguntas }}</p></strong>
                                </div>
                            </div>
                            <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                <a class="btn btn-primary btn-sm" style="background-color: #4a0b0b;" href="map_students.html?mapa={{ mapa.id }}">{% trans "Reiniciar" %}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% elif acierto != '' %}
            <div class="col">
                <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                    <div class="card-header py-3">
                        <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Pregunta" %} #{{ num_pregunta }}</strong></p>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">{{ pregunta.titulo }}</h2>
                        {% if acierto %}
                            <div class="alert alert-success" style="margin-top: 20px"><strong>{{ mensaje }}</strong></div>
                        {% else %}
                            <div class="alert alert-danger" style="margin-top: 20px"><strong>{{ mensaje }}</strong></div>
                        {% endif %}
                        <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                            <a class="btn btn-primary btn-sm" style="background-color: #4a0b0b;" href="map_students.html?mapa={{ mapa.id }}">{% trans "Siguiente pregunta" %}</a>
                        </div>
                    </div>
                </div>
            </div>    
        {% elif tipo == 0 %}
            <div class="col">
                <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                    <div class="card-header py-3">
                        <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Pregunta" %} #{{ num_pregunta }}</strong></p>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">{{ pregunta.titulo }}</h2>
                        <form action="/respuesta" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                            <input type="hidden" value="{{ num_pregunta }}" name="num_pregunta">
                            <div class="form-row" style="margin-top: 20px;">
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="{% trans "Introduce la respuesta" %}" name="respuesta">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% elif tipo == 1 %}
            <div class="col">
                <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                    <div class="card-header py-3">
                        <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Pregunta" %} #{{ num_pregunta }}</strong></p>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">{{ pregunta.titulo }}</h2>
                        <form action="/respuesta" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                            <input type="hidden" value="{{ num_pregunta }}" name="num_pregunta">
                            <div class="form-row" style="margin-top: 20px;">
                                <div class="col">
                                    <div class="form-group" style="margin: 20px 0px 0px 20px;">
                                        {% for respuesta in pregunta.respuestas.all %}
                                        <div class="custom-control custom-switch" style="margin-top: 10px">
                                            <input class="custom-control-input" type="checkbox" id="{{ forloop.counter }}" name="respuesta{{ forloop.counter }}">
                                            <label class="custom-control-label" for="{{ forloop.counter }}" style="color: rgb(0,0,0)">
                                                <p style="font-size: 17px">{{ respuesta.texto }}</p>
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                    <div class="card-header py-3">
                        <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Pregunta" %} #{{ num_pregunta }}</strong></p>
                    </div>
                    <div class="card-body">
                        <h2 class="text-center">{{ pregunta.titulo }}</h2>
                        <form action="/respuesta" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ pregunta.id }}" name="pregunta">
                            <input type="hidden" value="{{ num_pregunta }}" name="num_pregunta">
                            <div class="form-row" style="margin-top: 20px;">
                                <div class="col">
                                    <div class="form-group" style="margin: 20px 0px 0px 20px;">
                                        {% for respuesta in pregunta.respuestas.all %}
                                            <div class="row" style="margin: 0px 0px 0px 0px;">
                                                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding: 0px;">
                                                    {% if respuesta.es_correcta %}
                                                        <input type="radio" id="r1" value="on" style="margin: 0px;" name="respuesta{{ forloop.counter }}">
                                                    {% else %}
                                                        <input type="radio" id="r1" value="" style="margin: 0px;" name="respuesta{{ forloop.counter }}">
                                                    {% endif %}
                                                </div>
                                                <div class="col-10 col-sm-10 col-md-10" style="width: 80%;height: 40px;">
                                                    <label class="col-form-label" style="padding: 0px;color: rgb(0,0,0);" for="r1">
                                                        <p style="font-size: 16px">{{ respuesta.texto }}</p>
                                                    </label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex d-xl-flex justify-content-center" style="margin-top: 15px;">
                                <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col">
            <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                <div class="card-header py-3">
                    <p style="color: #4a0b0b;font-size: 20px;"><strong>{% trans "Notas y comentarios" %}</strong></p>
                </div>
                <div class="card-body">
                    <form action="/comentar" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{ mapa.id }}" name="mapa">
                        <div class="form-row">
                            <div class="col">
                                <textarea name="comentario" class="form-control">{{ comentario }}</textarea>
                            </div>
                        </div>
                        <div class="form-group d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 25px;">
                            <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px;">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

{% include 'scripts.html' %}

<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

<script>
    var map;
    var markersOfi;
    var markersNano;

    function getDashboard(id, contaminante){
	contaminante = contaminante.toLowerCase();

        if(id.startsWith("Sensores propios")){
            id = id.split(".").pop();
        }
        $.ajax({
            url: 'http://34.90.15.171:8000/checkDashboard?id=' + id + contaminante,
            success: function(data) {
                if(data.dashboard == null){
                    addDashboard(id, contaminante)
                }else{
                    if(document.getElementById('graph') != null){
                        document.getElementById('graph').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=6';
                    }
                    if(document.getElementById('graph2') != null){
                        document.getElementById('graph2').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=4';
                    }
                    if(document.getElementById('graph3') != null){
                        document.getElementById('graph3').src = 'http://34.90.15.171:3000/d-solo/' + data.dashboard.idDashboard + '/' + data.dashboard.idEstacion + '?theme=light&panelId=2';
                    }
                }
            }
        })
    }

    function addDashboard(nombre, contaminante){
	contaminante = contaminante.toLowerCase();

        $.ajax({
            url: 'http://34.90.15.171:4000/api/dashboards/uid/-HKNMjzGk',
            method: "GET",
            contentType: "application/json",
            accepts: "application/json",
            success: function(data) {
                data.dashboard.id = null;
                data.dashboard.uid = null;
                data.dashboard.title = nombre + contaminante;

                data.dashboard.panels[0].targets[0].rawSql =  "SELECT\n  phenomenon_time AS \"time\",\n  " + contaminante + "\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time) AND\n  name = '" + nombre + "'\nORDER BY 1";
                data.dashboard.panels[0].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[0].targets[0].where[1].params[2] = "'" + nombre + "'";
                data.dashboard.panels[0].title = "ULTIMO VALOR " + contaminante;
                
                data.dashboard.panels[1].targets[0].rawSql = "SELECT\n  $__timeGroupAlias(phenomenon_time,$__interval),\n  avg(" + contaminante + ") AS \"" + contaminante + "\"\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time)\nGROUP BY 1\nORDER BY 1";
                data.dashboard.panels[1].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[1].targets[0].select[0][2].params[0] = contaminante;
                data.dashboard.panels[1].title = "AVG " + contaminante;
                
                data.dashboard.panels[2].targets[0].rawSql = "SELECT\n  phenomenon_time AS \"time\",\n  " + contaminante + "\nFROM aq_legal_station_observation_validated_view\nWHERE\n  $__timeFilter(phenomenon_time) AND\n  name = '" + nombre + "'\nORDER BY 1";
                data.dashboard.panels[2].targets[0].select[0][0].params[0] = contaminante;
                data.dashboard.panels[2].targets[0].where[1].params[2] = "'" + nombre + "'";
                data.dashboard.panels[2].title = contaminante;

		new_data = JSON.stringify(data);
                new_data = new_data.replace("\"no2\":", "\"" + contaminante + "\":");
                new_data = new_data.replace("\"no2\":", "\"" + contaminante + "\":");

                $.ajax({
                    url: 'http://34.90.15.171:4000/api/dashboards/db',
                    method: "POST",
                    contentType: "application/json",
                    accepts: "application/json",
                    data: new_data,
                    success: function(data) {
                        $.ajax({
                            url: 'http://34.90.15.171:8000/registerDashboard?idDashboard=' + data.uid + '&idEstacion=' + nombre + contaminante,
                            success: function(data) {
                                getDashboard(nombre, contaminante)
                            }
                        })
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                        alert(xhr.responseText);
                    }
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                alert(xhr.responseText);
            }
        })
    }

    function getCoordinates(ciudad){
        $.ajax({
            url: 'https://eu1.locationiq.com/v1/search.php?key=f4e0e19d61efc3&q=' + ciudad + '&format=json',
            success: function(data) {
                map = L.map('map').setView([data[0].lat, data[0].lon], 12);
                
                L.tileLayer('https://api.mapbox.com/styles/v1/cildoz/ckb0jataa0t6z1iqg6tjuu7u0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2lsZG96IiwiYSI6ImNrYXJkdGltZjA4cDMzMW1zeDNqZjVoenAifQ.ptXQlauj5FviajZetuO_Ow', {
                    attribution: '© <a href="https://apps.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    maxZoom: 18
                }).addTo(map);
                
                L.control.scale().addTo(map); 
            }
        });
    };

    function updateLayer(tipo){
        if(tipo == "Sensores oficiales"){
            if(document.getElementById('Sensores oficiales').checked){
                $.ajax({
                    url: 'http://34.90.15.171:8080/geoserver/SensoresOficiales/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=SensoresOficiales%3Aestaciones_2018&outputFormat=application%2Fjson',
                    success: function(data) {
                        markersOfi = L.markerClusterGroup();
                        var geojson = new L.geoJson(data, {
                            onEachFeature: function(feature, layer){
                                layer.bindPopup('{% trans "Estación" %}: ' + feature.properties.NOMBRE + '. {% trans "Código" %}: ' + feature.properties.COD_ESTACI + '. {% trans "Contaminante medido" %}: ' + feature.properties.CONTAMINAN);
                                layer.on('click', function () {
                                    getDashboard(feature.properties.NOMBRE, feature.properties.CONTAMINAN);
                                });
                            }}
                        );
                        markersOfi.addLayer(geojson);
                        map.addLayer(markersOfi);
                    }
                });
            }else{
                map.removeLayer(markersOfi)
            }
        }else{
            if(document.getElementById('Nanosensores').checked){
                $.ajax({
                    url: 'http://34.90.15.171:8080/geoserver/Nanosensores/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Nanosensores%3Asensor_low_cost_feature&outputFormat=application%2Fjson',
                    success: function(data) {
                        markersNano = L.markerClusterGroup();
                        var geojson = new L.geoJson(data, {
                            coordsToLatLng: function (coords) {
                                return new L.LatLng(coords[0], coords[1], coords[2]);
                            },
                            onEachFeature: function(feature, layer){
                                layer.bindPopup('{% trans "Sensor no oficial" %}. ID: ' + feature.id, '');
                                layer.on('click', function () {
                                    getDashboard(feature.id);
                                });
                            }}
                        );
                        markersNano.addLayer(geojson);
                        map.addLayer(markersNano);
                    }
                });
            }else{
                map.removeLayer(markersNano);
            }
        }
    }
</script>

</body>

</html>
