{% load static %}
{% load i18n %}

<div class="row sticky-top" id="cookies" style="background-color: #fda016;" role="alert">
    <div class="col-sm-11 col-md-11 col-lg-11" style="padding-top: 5px;padding-bottom: 5px;padding-left: 25px;">
        <p style="font-size: 14px;color: #282d32;font-family: Roboto, sans-serif;">{% trans "Utilizamos cookies propias y de terceros y tecnologías similares para almacenar y administrar las preferencias del usuario, así como para garantizar el correcto funcionamiento de esta web. Si continúa navegando por esta web, estará aceptando su uso." %}&nbsp;<br></p>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
        style="padding: 0px;">
        <button class="btn btn-secondary" type="button" style="height: 30px;margin: 0px;padding: 0px;width: 72px;" onclick="setCookie()">{% trans "Aceptar" %}</button>
    </div>
</div>

<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/principal" style="height: 70px;">
            <img src="{% static "assets/img/favicon.png" %}" style="max-height: 80%; margin-top: 7px">
        </a>
        <ul class="nav navbar-nav flex-nowrap ml-auto" style="height: 70px;">
            <li class="nav-item dropdown no-arrow" role="presentation">
                <div class="nav-item dropdown no-arrow">
		    {% if user.is_authenticated %}
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.first_name}} {{user.last_name}}</span>
                        <img class="border rounded-circle img-profile" src="http://34.90.15.171/media/{{user.foto}}">
                    </a>
		    {% endif %}
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                        <a class="dropdown-item" role="presentation" href="/principal">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;{% trans "Principal" %}
                        </a>
                        <div class="dropdown-divider">     
                        </div>
                        <a class="dropdown-item" role="presentation" href="/logout">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;{% trans "Cerrar sesión" %}
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
