<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body onload="checkCookie()" id="page-top" style="padding: 0px;">
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success"><strong>{{ message }}</strong></div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning"><strong>{{ message }}</strong></div>
            {% else %}
                <div class="alert alert-danger"><strong>{{ message }}</strong></div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <h2 class="text-dark mb-4" style="font-family: 'Titillium Web', sans-serif;margin: 24px;">{% trans "Buenos días," %} {{user.first_name}}</h2>
    <div class="row">
        <div class="col">
            {% if actual %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico:" %} {{ curso_actual }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso_actual }}">
            {% else %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico:" %} {{ curso.nombre }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso.nombre }}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row" style="margin-left: 24px">
                <h4 style="font-family: 'Titillium Web', sans-serif;">{% trans "Consultar histórico" %}</h4>
            </div>
            <form action="/cambiarcurso" method="POST">
                {% csrf_token %}
                <div class="row" style="margin-left: 24px; margin-top: 10px">
                    <select class="custom-select chosen" required="" name="curso" style="color: #232323; width: 30%;">
                        {% for curso in cursos %}
                        {% if forloop.counter == 1 %}
                        <option selected value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% else  %}
                        <option value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row" style="margin-left: 15px; margin-top: 15px">
                    <button style="border-color: gray;" class="btn btn-outline-secondary">{% trans "Ir a curso" %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">{% trans "Tus mapas" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col" style="margin: 24px;">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Id</th>
                            <th>{% trans "Nombre" %}</th>
                            <th style="width: 60%;">{% trans "Opciones" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mapa in mapas %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="map.html?mapa={{ mapa.id }}" style="color: #858796;margin-right: 20px;">{{ mapa.nombre }}</a>
                            </td>
                            <td class="d-xl-flex justify-content-xl-center align-items-xl-center">
                                <div class="col text-center">
                                    <div class="row justify-content-center">
                                        <form action="/compartirmapa" method="POST" style="width: 100%; text-align: center">
                                            {% csrf_token %}

                                            <input type="hidden" id="curso" name="curso" value="{{ curso.nombre }}">

                                            <select class="custom-select chosen" required="" style="color: #232323; width: 80%; max-height: 40px" multiple="" name="personas" id="personas{{forloop.counter}}">
                                                {% for grupo in grupos %}
                                                <option value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                                {% endfor %}
                                                {% for alumno in alumnos %}
                                                <option value="{{alumno.email}}">{{alumno.first_name}} {{alumno.last_name}}</option>
                                                {% endfor %}
                                            </select>
                                            <button name="compartir" value="{{ mapa.id }}" class="btn btn-outline-primary" type="submit" style="padding: 7px; border-color: #232323; color: #232323; background-color: transparent; width: 40px; margin-top: auto; margin-bottom: auto; border-radius: 15px; margin-right: 0px; margin-left: 0px">
                                                <i class="fas fa-share"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="row justify-content-center" style="margin-top: 10px">
                                        <button onclick="editarMapa({{mapa.id}})" class="btn btn-outline-primary" type="button" style="padding: 7px; color: #232323; border-color: #fda016; background-color: transparent; width: 40px; border-radius: 15px; height: 36px">
                                            <i class="fas fa-edit" style="color: #fda016"></i>
                                        </button>
                                        <form action="/eliminarmapa" method="POST">
                                            {% csrf_token %}
                                            <button name="eliminar" value="{{ mapa.id }}" class="btn btn-outline-danger" type="submit" style="padding: 7px; color: #232323; background-color: transparent; border-color: red; width: 40px; border-radius: 15px; height: 36px">
                                                <i class="fas fa-trash" style="color: red"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">
		{% trans "Crear un nuevo mapa" %}
		<a style="margin-left: 10px; margin-top: 5px" href="https://youtu.be/52KWQPaKex8">
                    <i class="far fa-md fa-question-circle" style="color: grey"></i>
                </a>
	    </h4>
        </div>
    </div>
    <div class="row" style="margin: 20px 20px 16px;">
        <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
            <div class="card shadow mb-3" style="padding: 0px;margin: 0px;">
                <div class="card-body">
                    <form action="/crearmapa" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la localización" %}</strong>
                                </p>
                            </div>
                        </div>
                        <input type="hidden" id="curso" name="curso" value="{{ curso.nombre }}">
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" name="ciudad">
                                    {% for ciudad in ciudades %}
                                    {% if forloop.counter == 1 %}
                                    <option selected value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                                    {% else  %}
                                    <option value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin: 16px -15px 0px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige el nombre del nuevo mapa" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" name="nombre" type="text" style="height: 80%;width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin: 16px -15px 16px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la información a mostrar" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch" style="margin: 20px 0px 0px 0px;">
                                    <input class="custom-control-input" name="oficiales" type="checkbox" id="formCheck-1">
                                    <label class="custom-control-label" for="formCheck-1" style="color: rgb(0,0,0);">{% trans "Sensores oficiales" %}</label>
                                </div>
                                <div class="custom-control custom-switch" style="margin: 10px 0px 0px 0px;">
                                    <input class="custom-control-input" name="nanosensores" type="checkbox" id="formCheck-2">
                                    <label class="custom-control-label" for="formCheck-2" style="color: rgb(0,0,0);">{% trans "Nanosensores" %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;margin: 15px 10px 5px;">{% trans "Guardar" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">
                {% trans "Gestionar mis nanosensores" %}
	    </h4>
        </div>
    </div>
    <div class="row" style="margin: 20px 20px 16px;">
        <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%;">Id</th>
                            <th style="width: 15%;">{% trans "Estado" %}</th>
                            <th style="width: 20%;">{% trans "Modelo" %}</th>
                            <th style="width: 40%;">{% trans "Descripción" %}</th>
                            <th style="width: 20%;">{% trans "Opciones" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sensor in nanosensores %}
                        <tr>
                            <td>{{ sensor.0 }}</td>
                            <td>{{ sensor.4 }}</td>
                            <td>{{ sensor.1 }}</td>
                            <td>{{ sensor.2 }}</td>
                            <td>
                                <div class="row justify-content-center" style="width: 95%">
                                    <button onclick="editarSensor({{ sensor.0 }})" class="btn btn-outline-primary" type="button" style="padding: 7px; color: #232323; border-color: #fda016; background-color: transparent; width: 40px; border-radius: 15px; height: 36px">
                                        <i class="fas fa-edit" style="color: #fda016"></i>
                                    </button>
                                    <form action="/eliminarsensor" method="POST">
                                        {% csrf_token %}
                                        <button name="id" value="{{ sensor.0 }}" class="btn btn-outline-danger" type="submit" style="padding: 7px; color: #232323; background-color: transparent; border-color: red; width: 40px; border-radius: 15px; height: 36px">
                                            <i class="fas fa-trash" style="color: red"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">
		{% trans "Dar de alta un nanosensor" %}
	    	<a style="margin-left: 10px; margin-top: 5px" href="https://youtu.be/s-sDr4CLmD8">
                    <i class="far fa-md fa-question-circle" style="color: grey"></i>
                </a>
	    </h4>
        </div>
    </div>
    <div class="row" style="margin: 20px 20px 16px;">
        <div class="col d-xl-flex justify-content-xl-center" style="padding: 0px;">
            <div class="card shadow mb-3" style="padding: 0px;margin: 0px;">
                <div class="card-body">
                    <form action="/crearsensor" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la localización en el mapa" %} *</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="mapid" style="height: 400px; margin: 15px"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "O introduce sus coordenadas" %} *</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b; margin-top: 10px">
                                    {% trans "Latitud" %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" name="latitud" id="latitud" type="text" style="height: 80%;width: 100%;" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    {% trans "Longitud" %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" name="longitud" id="longitud" type="text" style="height: 80%;width: 100%;" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Introduce el modelo del sensor" %} *</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" name="modelo" id="modelo" type="text" style="height: 80%;width: 100%;" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Introduce el estado del sensor" %} *</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" name="estado">
                                    <option selected value="En servicio">{% trans "En servicio" %}</option>
                                    <option value="En mantenimiento">{% trans "En mantenimiento" %}</option>
                                    <option value="Fuera de servicio">{% trans "Fuera de servicio" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Introduce una breve descripción" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea class="form-control" name="descripcion" id="descripcion" type="text" style="width: 100%;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;margin: 15px 10px 5px;">{% trans "Guardar" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">{% trans "Ajustes" %}</h4>
        </div>
    </div>
    <div class="row mb-3" style="margin: 20px 20px 16px;">
        <div class="col-lg-4" style="padding: 0px 5px 0px 5px;">
            <div class="card shadow mb-3" style="padding: 0px 0px 0px 0px;margin: 0px;">
                <form action="/cambiarfoto" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body text-center">
                        <img class="rounded-circle mb-3 mt-4" src="http://34.90.15.171/media/{{user.foto}}" width="160" height="160">
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputGroupFile03" style="margin-top: 25px;">{% trans "Elegir foto" %}<br></label>
                                    <input type="file" name="imagen" required id="inputGroupFile03" class="custom-file-input" aria-describedby="inputGroupFileAddon03">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;margin: 0px 10px 0px;">{% trans "Guardar" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8" style="padding: 0px 5px 0px 5px;">
            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px;">
                    <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                        <div class="card-header py-3">
                            <p style="color: #4a0b0b;"><strong>{% trans "Mis datos personales" %}</strong></p>
                        </div>
                        <div class="card-body">
                            <form action="/cambiardatos" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Nombre" %}" name="nombre">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Apellido(s)" %}" name="apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="Email" name="email">
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                            <div class="form-row" style="padding: 0px 5px;">
                                <p style="color: #4a0b0b;"><strong>{% trans "Cambiar contraseña" %}</strong></p>
                            </div>
                            <form action="/cambiarcontrasena" method="POST">
                                {% csrf_token %}
                                <div class="form-row" style="margin-top: 20px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Contraseña actual" %}" name="contrasena_actual">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Nueva contraseña" %}" name="contrasena_nueva">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Repite la nueva contraseña" %}" name="contrasena_nueva_rep">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px;">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <form action="/editarmapa" method="POST">
        <div class="modal fade" role="dialog" tabindex="-1" id="editModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% csrf_token %}
                    <input type="hidden" id="mapaEditID" name="mapaEditID" value="">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Editar mapa" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la nueva localización" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" name="ciudad">
                                    <option value=""></option>
                                    {% for ciudad in ciudades %}
                                        <option value="{{ciudad.nombre}}">{{ciudad.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin: 16px -15px 0px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Modifica el nombre del mapa" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" style="height: 80%;width: 100%;" name="nombre">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row" style="margin: 16px -15px 16px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la información a mostrar" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-switch" style="margin: 20px 0px 0px 0px;">
                                    <input class="custom-control-input" name="oficiales" type="checkbox" id="formCheck-3">
                                    <label class="custom-control-label" for="formCheck-3" style="color: rgb(0,0,0);">{% trans "Sensores oficiales" %}</label>
                                </div>
                                <div class="custom-control custom-switch" style="margin: 10px 0px 0px 0px;">
                                    <input class="custom-control-input" name="nanosensores" type="checkbox" id="formCheck-4">
                                    <label class="custom-control-label" for="formCheck-4" style="color: rgb(0,0,0);">{% trans "Nanosensores" %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-primary" type="button" style="background-color: #b8b8b8;">{% trans "Descartar" %}</button>
                        <button class="btn btn-primary" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar cambios" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form action="/editarsensor" method="POST">
        <div class="modal fade" role="dialog" tabindex="-1" id="editSensorModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    {% csrf_token %}
                    <input type="hidden" id="sensorEditID" name="sensorEditID" value="">
                    <input name="latitudEdit" id="latitudEdit" type="hidden">
                    <input name="longitudEdit" id="longitudEdit" type="hidden">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Editar sensor" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Elige la nueva localización" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div id="sensoreditmapid" style="height: 300px;"></div>
                            </div>
                        </div>
                        <div class="row" style="margin: 16px -15px 0px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Modifica el modelo del sensor" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" style="height: 80%;width: 100%;" name="modelo">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Modifica el estado del sensor" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select" name="estado">
                                    <option selected value=""></option>
                                    <option value="En servicio">{% trans "En servicio" %}</option>
                                    <option value="En mantenimiento">{% trans "En mantenimiento" %}</option>
                                    <option value="Fuera de servicio">{% trans "Fuera de servicio" %}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin: 15px -15px 0px -15px;">
                            <div class="col">
                                <p style="color: #4a0b0b;">
                                    <strong>{% trans "Modifica la descripción del sensor" %}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <textarea class="form-control" type="text" style="height: 80%;width: 100%;" name="descripcionEdit"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-primary" type="button" style="background-color: #b8b8b8;">{% trans "Descartar" %}</button>
                        <button class="btn btn-primary" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar cambios" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% include 'scripts.html' %}

<script>
    function editarMapa(id){
        document.getElementById('mapaEditID').value = id;
        $('#editModal').modal(focus)
    }
</script>

<script>
    var mymap = L.map('mapid').setView([41.652541, -0.886998], 13);
    var marker;

    L.tileLayer('https://api.mapbox.com/styles/v1/cildoz/ckb0jataa0t6z1iqg6tjuu7u0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2lsZG96IiwiYSI6ImNrYXJkdGltZjA4cDMzMW1zeDNqZjVoenAifQ.ptXQlauj5FviajZetuO_Ow', {
        attribution: '© <a href="https://apps.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        maxZoom: 18
    }).addTo(mymap);
                
    L.control.scale().addTo(mymap);

    mymap.on('click', function(e){
        if (marker != undefined) {
              mymap.removeLayer(marker);
        };

        marker = new L.marker(e.latlng).addTo(mymap);

        document.getElementById('latitud').value = e.latlng.lat;
        document.getElementById('longitud').value = e.latlng.lng;
    });
</script>

<script>
    var mymapedit = L.map('sensoreditmapid').setView([41.652541, -0.886998], 13);
    var markeredit;

    L.tileLayer('https://api.mapbox.com/styles/v1/cildoz/ckb0jataa0t6z1iqg6tjuu7u0/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2lsZG96IiwiYSI6ImNrYXJkdGltZjA4cDMzMW1zeDNqZjVoenAifQ.ptXQlauj5FviajZetuO_Ow', {
        attribution: '© <a href="https://apps.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        maxZoom: 18
    }).addTo(mymapedit);

    L.control.scale().addTo(mymapedit);

    mymapedit.on('click', function(e){
        if (markeredit != undefined) {
            mymapedit.removeLayer(markeredit);
        };

        markeredit = new L.marker(e.latlng).addTo(mymapedit);

        document.getElementById('latitudEdit').value = e.latlng.lat;
        document.getElementById('longitudEdit').value = e.latlng.lng;
    });

    $('#editSensorModal').on('shown.bs.modal', function(){
        setTimeout(function() {
            mymapedit.invalidateSize();
        }, 10);
    });

    function editarSensor(id){
        document.getElementById('sensorEditID').value = id;
        $('#editSensorModal').modal(focus);
    }
</script>

</body>

</html>
