<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body onload="actualizarGrupos();checkCookie()" class="bg-gradient-primary" style="background-image: url(&quot;{% static "assets/img/back.jpg" %}&quot;);filter: blur(0px);background-color: #fda016;">
    <div class="col" style="height: 100%">
        <div class="row sticky-top" id="cookies" style="background-color: #fda016;" role="alert">
            <div class="col-sm-11 col-md-11 col-lg-11" style="padding-top: 5px;padding-bottom: 5px;padding-left: 25px;">
                <p style="font-size: 14px;color: #282d32;font-family: Roboto, sans-serif;">{% trans "Utilizamos cookies propias y de terceros y tecnologías similares para almacenar y administrar las preferencias del usuario, así como para garantizar el correcto funcionamiento de esta web. Si continúa navegando por esta web, estará aceptando su uso." %}&nbsp;<br></p>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                style="padding: 0px;">
                <button class="btn btn-secondary" type="button" style="height: 30px;margin: 0px;padding: 0px;width: 72px;" onclick="setCookie()">{% trans "Aceptar" %}</button>
            </div>
        </div>
        <div class="row d-flex d-sm-flex justify-content-center justify-content-sm-center" style="height: 92%">
            <div class="col-md-9 col-lg-12 col-xl-10" style="max-width: 400px;">
                <div class="card shadow-lg o-hidden border-0 my-5" style="background-color: rgba(255,255,255,0.78);margin: 0px;padding: 30px">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div style="margin-bottom: 20px" class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center">
                                        <img class="border rounded-circle d-xl-flex justify-content-xl-start" src="{% static "assets/img/logo_transparent.png" %}" style="background-color: rgba(74,11,11,0);/*width: 40%;*//*height: 100%;*/max-width: 70px;max-height: 70px;">
                                        <h1 class="text-center d-xl-flex justify-content-xl-end align-items-xl-center" style="font-size: 22px;color: rgb(0,0,0);font-family: ABeeZee, sans-serif;margin: 0px 0px 0px 20px;">{% trans "Registro" %}</h1>
					<a style="margin-left: 10px; margin-top: 3px" href="https://youtu.be/MyWhkpvbNjM">
                                            <i class="far fa-lg fa-question-circle" style="color: grey"></i>
                                        </a>
                                    </div>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div class="alert alert-success"><strong>{{ message }}</strong></div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning"><strong>{{ message }}</strong></div>
                                        {% else %}
                                            <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <form action="/registro_usuario" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <p style="color: #4a0b0b;padding-top: 6px;padding-right: 28px;padding-bottom: 6px;padding-left: 12px;"><strong>{% trans "Selecciona un centro educativo" %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <select onclick="actualizarGrupos()" onchange="actualizarGrupos()" class="custom-select chosen" required="" style="color: #232323;" name="centro_educativo" id="centro_educativo">
                                                {% for centro in centros_educativos %}
                                                {% if forloop.counter == 1 %}
                                                <option selected value="{{centro.nombre}}">{{centro.nombre}}</option>
                                                {% else  %}
                                                <option value="{{centro.nombre}}">{{centro.nombre}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <small style="color: #4a0b0b;padding-left: 12px;">{% trans "¿No está tu centro educativo?" %} <a href="ventas.html" style="color: #4a0b0b"><strong>{% trans "Contáctanos" %}</strong></a></small>
                                    <div class="row">
                                        <div class="col">
                                            <p style="color: #4a0b0b;padding-top: 6px;padding-right: 28px;padding-bottom: 6px;padding-left: 12px;"><strong>{% trans "Selecciona un grupo (solo alumnos)" %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <select class="custom-select chosen" required="" style="color: #232323;" name="grupo" id="grupo">
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <div class="form-group" style="width: 100%; margin: auto">
                                                <input class="form-control" type="text" style="width: 100%; margin: 0px" placeholder="{% trans "Nombre *" %}" name="nombre" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <div class="form-group" style="width: 100%; margin: auto">
                                                <input class="form-control" type="text" style="width: 100%; margin: 0px" placeholder="{% trans "Apellido(s) *" %}" name="apellidos" required>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <div class="form-group" style="width: 100%; margin: auto">
                                                <input class="form-control" type="email" style="width: 100%; margin: 0px" placeholder="{% trans "Dirección de email *" %}" required="" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <div class="form-group" style="width: 100%; margin: auto">
                                                <input class="form-control" type="password" style="width: 100%; margin: 0px" placeholder="{% trans "Contraseña *" %}" name="contrasena" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <div class="form-group" style="width: 100%; margin: auto">
                                                <input class="form-control" type="password" style="width: 100%; margin: 0px" placeholder="{% trans "Repita la contraseña *" %}" name="contrasena_rep" required>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin: 15px 0px 0px 0px;">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding: 0px;">
                                            <input type="radio" id="r1" value="alumno" style="margin: 0px;" name="categoria" checked>
                                        </div>
                                        <div class="col-10 col-sm-10 col-md-10" style="width: 80%;height: 40px;">
                                            <label class="col-form-label" style="padding: 0px;color: rgb(0,0,0);" for="r1"><p style="font-size: 14px">{% trans "Soy un alumno" %}</p></label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 0px 0px 0px 0px;">
                                        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex d-sm-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="padding: 0px;">
                                            <input type="radio" id="r2" value="profesor" style="margin: 0px;" name="categoria">
                                        </div>
                                        <div class="col" style="width: 90%;height: 40px;">
                                            <label class="col-form-label" style="padding: 0px;color: rgb(0,0,0);" for="#r2"><p style="font-size: 14px">{% trans "Soy un profesor" %}</p></label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <p style="color: #4a0b0b;padding-top: 6px;padding-right: 28px;padding-bottom: 6px;padding-left: 12px;"><strong>{% trans "Elige una imagen de perfil" %}</strong></p>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <label class="custom-file-label" for="inputGroupFile03" style="margin-top: 25px;">{% trans "Elige imagen" %}<br></label>
                                                <input type="file" name="imagen" id="imagen" class="custom-file-input" aria-describedby="inputGroupFileAddon03" accept="image/*">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 20px 0px 0px 1px;">
                                        <div class="col d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                            <button class="btn btn-primary" type="submit" style="border-radius: 15px;background-color: transparent;color: #4a0b0b;border-color: #4a0b0b">{% trans "Registrarme" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="row" style="margin: 20px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                        <a href="olvido-contrasena.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Olvidaste tu contraseña?" %}</a>
                                    </div>
                                </div>
                                <div class="row" style="margin: 10px 0px 0px 0px;">
                                    <div class="col text-center d-flex d-sm-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-xl-center">
                                        <a href="index.html" style="color: #4a0b0b;font-size: 14px;">{% trans "¿Ya tienes cuenta? Inicia sesión" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'scripts.html' %}

<script>
    function actualizarGrupos(){
        var centros = document.getElementById("centro_educativo");
        var centro = centros.options[centros.selectedIndex].value;
        var csrftoken = '{{ csrf_token }}';
        $.post(
            "/cargar_grupos",
            {'csrfmiddlewaretoken': csrftoken, 'centro': centro},
            function(data){
                var select = document.getElementById('grupo')
                for (i = select.options.length-1; i >= 0; i--) {
                    select.options[i] = null;
                }
                for (var i = 0; i < data.grupos.length; i+=1) {
                    var opt = document.createElement('option')
                    if (i == 0) {
                        opt.setAttribute('selected', 'selected')
                    }
                    opt.appendChild(document.createTextNode(data.grupos[i]))
                    opt.value = data.grupos[i]
                    select.appendChild(opt)
                }
            }
        )
    }
</script>

</body>

</html>
