<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

{% if not actual %}
<body onload="actualizarGrupos('ambos');checkCookie()" id="page-top" style="padding: 0px;">
{% else %}
<body onload="checkCookie()" id="page-top" style="padding: 0px;"></body>
{% endif %}
    {% include 'navbar.html' %}
    <h2 class="text-dark mb-4" style="font-family: 'Titillium Web', sans-serif;margin: 24px;">{% trans "Buenos días," %} {{user.first_name}}</h2>
    <div class="row">
        <div class="col">
            {% if actual %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico:" %} {{ curso_actual }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso_actual }}">
            {% else %}
            <h4 style="margin-left: 24px; font-family: 'Titillium Web', sans-serif; display: inline-block;">{% trans "Curso académico:" %} {{ curso.nombre }}</h4>
            <input type="hidden" id="curso_seleccionado" value="{{ curso.nombre }}">
            {% endif %}
            {% if actual %}
            <form action="/avanzarcurso" method="POST">
                {% csrf_token %}
                <button style="margin-top: 10px; border-color: red; margin-left: 24px" class="btn btn-outline-danger">{% trans "Cerrar curso" %}</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row" style="margin-left: 24px">
                <h4 style="font-family: 'Titillium Web', sans-serif;">{% trans "Consultar histórico" %}</h4>
            </div>
            <form action="/cambiarcurso" method="POST">
                {% csrf_token %}
                <div class="row" style="margin-left: 24px; margin-top: 10px">
                    <select class="custom-select chosen" required="" name="curso" style="color: #232323; width: 30%;">
                        {% for curso in cursos %}
                        {% if forloop.counter == 1 %}
                        <option selected value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% else  %}
                        <option value="{{curso.nombre}}">{{curso.nombre}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="row" style="margin-left: 15px; margin-top: 15px">
                    <button style="border-color: gray;" class="btn btn-outline-secondary">{% trans "Ir a curso" %}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">{% trans "Gestionar usuarios" %}</h4>
        </div>
    </div>
    <div class="row" style="margin: 20px 20px 16px;">
        <div class="col" style="padding: 0px;">
            <div class="card shadow mb-3" style="padding: 0px;margin: 0px;">
                <div class="card-body">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1" style="color: #282d32;">{% trans "Alumnos" %}</a></li>
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2" style="color: #282d32;">{% trans "Profesores" %}</a></li>
                            {% if actual %}
                            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3" style="color: #282d32;">{% trans "Grupos" %}</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="tab-1">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div class="alert alert-success" style="margin-top: 15px"><strong>{{ message }}</strong></div>
                                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning" style="margin-top: 15px"><strong>{{ message }}</strong></div>
                                        {% else %}
                                            <div class="alert alert-danger" style="margin-top: 15px"><strong>{{ message }}</strong></div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if actual %}
                                <form action="/modificarestado" method="POST">
                                    {% csrf_token %}
                                    <h4 style="margin-top: 20px;">{% trans "Modificar el estado de un alumno" %}</h4>
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Selecciona un alumno" %}</strong>
                                    </p>
                                    <select class="custom-select chosen" required="" name="alumno" style="color: #232323;width: 100%;">
                                        {% for alumno in alumnos %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{alumno.email}}">{{alumno.first_name}} {{alumno.last_name}} - {{alumno.estado}}</option>
                                        {% else  %}
                                        <option value="{{alumno.email}}">{{alumno.first_name}} {{alumno.last_name}} - {{alumno.estado}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Selecciona un estado de la lista" %}</strong>
                                    </p>
                                    <select class="custom-select chosen" name="estadoSelect" style="color: #232323;width: 100%" onchange="if(this.options[this.selectedIndex].value=='customOption'){toggleField(this,this.nextSibling); this.selectedIndex='0';}">
                                        <option selected value="Otro">Otro</option>
                                        <option value="Activo">Activo</option>
                                        <option value="Estudios finalizados">Estudios finalizados</option>
                                        <option value="Abandono de estudios">Abandono de estudios</option>
                                    </select>
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "O introduce otro" %}</strong>
                                    </p>
                                    <div class="form-group">
                                        <input class="form-control" name="estado" type="text" style="height: 60%;width: 100%; margin-top: 10px">
                                    </div>
                                    <div class="col d-flex d-md-flex justify-content-center justify-content-md-center">
                                        <button class="btn btn-secondary" type="submit">{% trans "Guardar cambios" %}</button>
                                    </div>
                                </form>
                                {% endif %}
                                <form action="/alumnogrupo" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" id="curso" name="curso" value="{{ curso.nombre }}">

                                    {% if actual %}
                                    <h4 style="margin-top: 20px;">{% trans "Alumno por alumno" %}</h4>
                                    {% endif %}
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                        <strong>{% trans "Selecciona un alumno" %}</strong>
                                        {% if not actual %}
                                        <small>{% trans "Nota: si un alumno no aparece, este no estaba asociado a ningún grupo el año seleccionado" %}</small>
                                        {% endif %}
                                    </p>
                                    {% if actual %}
                                    <select class="custom-select chosen" required="" name="alumno" style="color: #232323;width: 100%;">
                                    {% else %}
                                    <select onclick="actualizarGrupos('alumno')" onchange="actualizarGrupos('alumno')" class="custom-select chosen" required="" name="alumno" id="alumno" style="color: #232323;width: 100%;">
                                    {% endif %}
                                        {% for alumno in alumnos %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{alumno.email}}">{{alumno.first_name}} {{alumno.last_name}} - {{alumno.estado}}</option>
                                        {% else  %}
                                        <option value="{{alumno.email}}">{{alumno.first_name}} {{alumno.last_name}} - {{alumno.estado}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <p style="color: #4a0b0b;margin-top: 20px;margin-bottom: 6px;">
                                        {% if actual %}
                                        <strong>{% trans "Selecciona un grupo" %}</strong>
                                        {% else %}
                                        <strong>{% trans "Listado de grupos" %}</strong>
                                        {% endif %}
                                    </p>
                                    <select class="custom-select chosen" required="" name="grupo" id="grupo_alumnos" style="color: #232323;width: 100%;">
                                        {% for grupo in grupos %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% else  %}
                                        <option value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="row" style="margin: 0px;margin-top: 20px;">
                                        <div class="col d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center justify-content-xl-center">
                                            {% if actual %}
                                            <button name="anadirgrupo" value="true" class="btn btn-primary bg-secondary" type="submit" style="background-color: #fda016;">{% trans "Añadir a grupo" %}</button>
                                            <button name="eliminargrupo" value="true" class="btn btn-primary bg-secondary" type="submit">{% trans "Eliminar de grupo" %}</button>
                                            {% endif %}
                                            <button name="eliminarusuario" value="true" class="btn btn-primary bg-danger" type="submit">{% trans "Eliminar usuario" %}</button>
                                        </div>
                                    </div>
                                </form>
                                {% if actual %}
                                <h4>{% trans "Gestión masiva de alumnos" %}</h4>
                                <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px;">
                                    <strong>{% trans "Selecciona un grupo" %}</strong>
                                </p>
                                <form action="/cargamasiva" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <select class="custom-select chosen" required="" name="grupo" style="color: #232323;width: 100%;">
                                            {% for grupo in grupos %}
                                            {% if forloop.counter == 1 %}
                                            <option selected value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                            {% else  %}
                                            <option value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 20px;">
                                        <strong>{% trans "Selecciona un fichero (formato .csv)" %}</strong>
                                    </p>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="fichero" style="margin-top: -20px;" aria-describedby="inputGroupFileAddon03" accept=".csv">
                                        <label class="custom-file-label" style="height: 30px;">{% trans "Cargar fichero" %}</label>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <button class="btn btn-secondary" name="crearcuentas" value="active" type="submit">{% trans "Crear cuentas" %}</button>
                                            <button class="btn btn-secondary" name="asignargrupo" type="submit">{% trans "Asignar grupo" %}</button>
                                        </div>
                                    </div>
                                </form>
                                {% endif %}
                            </div>
                            <div class="tab-pane" role="tabpanel" id="tab-2">
                                <form action="/profesorgrupo" method="POST">
                                    {% csrf_token %}

                                    <input type="hidden" id="curso" name="curso" value="{{ curso.nombre }}">

                                    <p style="color: #4a0b0b;margin-top: 10px;margin-bottom: 6px">
                                        <strong>{% trans "Selecciona un profesor" %}</strong>
                                        {% if not actual %}
                                        <small>{% trans "Nota: si un profesor no aparece, este no estaba asociado a ningún grupo el año seleccionado" %}</small>
                                        {% endif %}
                                    </p>
                                    {% if actual %}
                                    <select class="custom-select chosen" required="" name="profesor" style="color: #232323;width: 100%;">
                                    {% else %}
                                    <select onclick="actualizarGrupos('profesor')" onchange="actualizarGrupos('profesor')" class="custom-select chosen" required="" name="profesor" id="profesor" style="color: #232323;width: 100%;">
                                    {% endif %}
                                        {% for profesor in profesores %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{profesor.email}}">{{profesor.first_name}} {{profesor.last_name}}</option>
                                        {% else  %}
                                        <option value="{{profesor.email}}">{{profesor.first_name}} {{profesor.last_name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <p style="color: #4a0b0b;margin-top: 20px;margin-bottom: 6px">
                                        {% if actual %}
                                        <strong>{% trans "Selecciona un grupo" %}</strong>
                                        {% else %}
                                        <strong>{% trans "Listado de grupos" %}</strong>
                                        {% endif %}
                                    </p>
                                    <select class="custom-select chosen" required="" name="grupo" id="grupo_profesores" style="color: #232323;width: 100%;">
                                        {% for grupo in grupos %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% else  %}
                                        <option value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="row" style="margin: 0px;margin-top: 20px;">
                                        <div class="col d-sm-flex d-lg-flex d-xl-flex justify-content-sm-center justify-content-lg-center justify-content-xl-center">
                                            {% if actual %}
                                            <button name="anadirgrupo" value="true" class="btn btn-primary bg-secondary" type="submit" style="background-color: #fda016;">{% trans "Añadir a grupo" %}</button>
                                            <button name="eliminargrupo" value="true" class="btn btn-primary bg-secondary" type="submit">{% trans "Eliminar de grupo" %}</button>
                                            {% endif %}
                                            <button name="eliminarusuario" value="true" class="btn btn-primary bg-danger" type="submit">{% trans "Eliminar usuario" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% if actual %}
                            <div class="tab-pane" role="tabpanel" id="tab-3">
                                <form action="/eliminargrupos" method="POST">
                                    {% csrf_token %}
                                    <p style="color: #4a0b0b;margin-top: 20px;">
                                        <strong>{% trans "Selecciona un grupo" %}</strong>
                                    </p>
                                    <select class="custom-select chosen" required="" name="grupo" style="color: #232323;width: 100%;">
                                        {% for grupo in grupos %}
                                        {% if forloop.counter == 1 %}
                                        <option selected value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% else  %}
                                        <option value="{{grupo.nombre}}">{{grupo.nombre}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="row">
                                        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 20px;">
                                            <button class="btn btn-danger bg-danger" type="submit" style="background-color: #fda016;">{% trans "Eliminar grupo" %}</button>
                                        </div>
                                    </div>
                                </form>
                                <form action="/creargrupo" method="POST">
                                    {% csrf_token %}
                                    <p style="color: #4a0b0b;">
                                        <strong>{% trans "Introduce el nombre del nuevo grupo" %}</strong>
                                    </p>
                                    <input type="text" name="nombre" style="border-radius: 50px;width: 100%;height: 30px;">
                                    <div class="row">
                                        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top: 20px;">
                                            <button class="btn btn-danger bg-secondary" type="submit" style="background-color: #fda016;">{% trans "Añadir grupo" %}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="margin: 24px;font-family: 'Titillium Web', sans-serif;">{% trans "Ajustes" %}</h4>
        </div>
    </div>
    <div class="row mb-3" style="margin: 20px 20px 16px;">
        <div class="col-lg-4" style="padding: 0px 5px 0px 5px;">
            <div class="card shadow mb-3" style="padding: 0px 0px 0px 0px;margin: 0px;">
                <form action="/cambiarfoto" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body text-center">
                        <img class="rounded-circle mb-3 mt-4" src="http://34.90.15.171/media/{{user.foto}}" width="160" height="160">
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputGroupFile03" style="margin-top: 25px;">{% trans "Elegir foto" %}<br></label>
                                    <input type="file" name="imagen" required id="inputGroupFile03" class="custom-file-input" aria-describedby="inputGroupFileAddon03">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;margin: 0px 10px 0px;">{% trans "Guardar" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8" style="padding: 0px 5px 0px 5px;">
            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px;">
                    <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                        <div class="card-header py-3">
                            <p style="color: #4a0b0b;"><strong>{% trans "Mis datos personales" %}</strong></p>
                        </div>
                        <div class="card-body">
                            <form action="/cambiardatos" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Nombre" %}" name="nombre">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Apellido(s)" %}" name="apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="Email" name="email">
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                            <div class="form-row" style="padding: 0px 5px;">
                                <p style="color: #4a0b0b;"><strong>{% trans "Cambiar contraseña" %}</strong></p>
                            </div>
                            <form action="/cambiarcontrasena" method="POST">
                                {% csrf_token %}
                                <div class="form-row" style="margin-top: 20px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Contraseña actual" %}" name="contrasena_actual">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Nueva contraseña" %}" name="contrasena_nueva">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Repite la nueva contraseña" %}" name="contrasena_nueva_rep">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px;">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

{% include 'scripts.html' %}

<script>
    function actualizarGrupos(tipo){
        var curso = document.getElementById('curso_seleccionado').value;

        if(tipo == 'alumno'){
            var alumnos = document.getElementById("alumno");
            var alumno = alumnos.options[alumnos.selectedIndex].value;

            var csrftoken = '{{ csrf_token }}';
            
            $.post("/cargar_grupos_asociados", {'csrfmiddlewaretoken': csrftoken, 'alumno': alumno, 'curso': curso}, 
                function(data){
                    var select = document.getElementById('grupo_alumnos')
                    for (i = select.options.length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    for (var i = 0; i < data.grupos.length; i+=1) {
                        var opt = document.createElement('option')
                        if (i == 0) {
                            opt.setAttribute('selected', 'selected')
                        }
                        opt.appendChild(document.createTextNode(data.grupos[i]))
                        opt.value = data.grupos[i]
                        select.appendChild(opt)
                    }
                }
            )
        }else if(tipo == 'profesor'){
            var profesores = document.getElementById("profesor");
            var profesor = profesores.options[profesores.selectedIndex].value;

            var csrftoken = '{{ csrf_token }}';
            
            $.post("/cargar_grupos_asociados", {'csrfmiddlewaretoken': csrftoken, 'profesor': profesor, 'curso': curso}, 
                function(data){
                    var select = document.getElementById('grupo_profesores')
                    for (i = select.options.length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    for (var i = 0; i < data.grupos.length; i+=1) {
                        var opt = document.createElement('option')
                        if (i == 0) {
                            opt.setAttribute('selected', 'selected')
                        }
                        opt.appendChild(document.createTextNode(data.grupos[i]))
                        opt.value = data.grupos[i]
                        select.appendChild(opt)
                    }
                }
            )
        }else{
            actualizarGrupos('alumno');
            actualizarGrupos('profesor');
        }
    }
</script>

</body>

</html>
