<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

{% include 'head.html' %}

<body onload="checkCookie()" id="page-top" style="padding: 0px;">
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success"><strong>{{ message }}</strong></div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning"><strong>{{ message }}</strong></div>
            {% else %}
                <div class="alert alert-danger"><strong>{{ message }}</strong></div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col">
            <h2 style="margin-top: 5px; margin-left: 24px; margin-bottom: 24px; font-family: 'Titillium Web', sans-serif;">{% trans "Ajustes" %}</h2>
        </div>
    </div>
    <div class="row mb-3" style="margin: 20px 20px 16px;">
        <div class="col-lg-4" style="padding: 0px 5px 0px 5px;">
            <div class="card shadow mb-3" style="padding: 0px 0px 0px 0px;margin: 0px;">
                <form action="/cambiarfoto" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body text-center">
                        <img class="rounded-circle mb-3 mt-4" src="http://34.90.15.171/media/{{user.foto}}" width="160" height="160">
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputGroupFile03" style="margin-top: 25px;">{% trans "Elegir foto" %}<br></label>
                                    <input type="file" name="imagen" required id="inputGroupFile03" class="custom-file-input" aria-describedby="inputGroupFileAddon03">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;margin: 0px 10px 0px;">{% trans "Guardar" %}</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8" style="padding: 0px 5px 0px 5px;padding-right: 5px;padding-left: 5px;">
            <div class="row" style="margin: 0px;">
                <div class="col" style="padding: 0px;">
                    <div class="card shadow mb-3" style="margin: 0px;padding: 0px;">
                        <div class="card-header py-3">
                            <p style="color: #4a0b0b;"><strong>{% trans "Mis datos personales" %}</strong></p>
                        </div>
                        <div class="card-body">
                            <form action="/cambiardatos" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Nombre" %}" name="nombre">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="text" placeholder="{% trans "Apellido(s)" %}" name="apellidos">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="email" placeholder="Email" name="email">
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                                <div class="form-group d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                            <div class="form-row" style="padding: 0px 5px;">
                                <p style="color: #4a0b0b;"><strong>{% trans "Cambiar contraseña" %}</strong></p>
                            </div>
                            <form action="/cambiarcontrasena" method="POST">
                                {% csrf_token %}
                                <div class="form-row" style="margin-top: 20px;">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Contraseña actual" %}" name="contrasena_actual">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Nueva contraseña" %}" name="contrasena_nueva">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input class="form-control" type="password" placeholder="{% trans "Repite la nueva contraseña" %}" name="contrasena_nueva_rep">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                    <button class="btn btn-primary btn-sm" type="submit" style="background-color: #4a0b0b;">{% trans "Guardar" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px; position: fixed; bottom: 0; width: 100%">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray">Stics © 2020</a>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include 'scripts.html' %}
</body>

</html>