<!DOCTYPE html>
<html>

{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Stics</title>
    <meta name="twitter:description" content="Stics es un sitio web que permite al profesorado de educación secundaria o primaria la enseñanza de matemáticas, tecnología, etc. de forma innovadora">
    <meta name="twitter:image" content="{% static "assets/img/logo_transparent.png" %}">
    <meta property="og:type" content="website">
    <meta name="description" content="Stics es un sitio web que permite al profesorado de educación secundaria o primaria la enseñanza de matemáticas, tecnología, etc. de forma innovadora">
    <meta property="og:image" content="{% static "assets/img/logo_transparent.png" %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Stics">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/logo_transparent.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/logo_transparent.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/logo_transparent.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/logo_transparent.png" %}">
    <link rel="icon" type="image/png" sizes="1200x1200" href="{% static "assets/img/logo_transparent.png" %}">
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{% static "assets/css/dropdown-search-bs4.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Google-Style-Text-Input.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/InputText.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/List-item.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Lista-Productos-Canito.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Material-Inputs.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Select-Search.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Studious-selectbox.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Table-With-Search-1.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Table-With-Search.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/Tarjetones.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles_ventas.css" %}">
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
</head>

<body onload="checkCookie()" id="page-top">    
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/principal" style="height: 70px;">
                <img src="{% static "assets/img/favicon.png" %}" style="max-height: 80%; margin-top: 7px">
            </a>
            <ul class="nav navbar-nav flex-nowrap ml-auto" style="height: 70px;">
                <li class="nav-item dropdown no-arrow" role="presentation">
                    <div class="nav-item dropdown no-arrow">
                        <a class="nav-link" href="/">
                            <span class="d-none d-lg-inline mr-2 text-gray-600 small">{% trans "Volver" %}</span>
                            <i class="fas fa-chevron-circle-left fa-2x" style="color: #282d32"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">Stics</h1>
                    <hr class="divider my-4" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">{% trans "Stics es el sitio web que permite al profesorado de educación secundaria o primaria la enseñanza de matemáticas, tecnología, etc. de forma innovadora" %}</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">{% trans "Descubre más" %}</a>
                </div>
            </div>
        </div>
    </header>
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">{% trans "¡Tenemos lo que buscas!" %}</h2>
                    <hr class="divider light my-4" />
                    <p class="mb-4" style="color: beige">{% trans "Stics tiene todo lo que necesitas para el trabajo en el aula de forma innovadora. Análisis de gráficos, tendencias, construcción de sensores ambientales... ¡Descúbrelo ya!" %}</p>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">{% trans "Comienza hoy mismo!" %}</a>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">{% trans "A tu servicio" %}</h2>
            <hr class="divider my-4" />
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-chart-area text-primary mb-4"></i>
                        <h3 class="h4 mb-2">{% trans "Análisis de gráficos" %}</h3>
                        <p class="text-muted mb-0">{% trans "Analiza variaciones en los niveles de contaminación en las estaciones de tu ciudad" %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fab fa-4x fa-envira text-primary mb-4"></i>
                        <h3 class="h4 mb-2">{% trans "Nanosensores" %}</h3>
                        <p class="text-muted mb-0">{% trans "Contribuye a la comunidad Stics con los datos de tus propios nanosensores." %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-cloud text-primary mb-4"></i>
                        <h3 class="h4 mb-2">{% trans "SaaS" %}</h3>
                        <p class="text-muted mb-0">{% trans "Elige nuestra solución en la nube y utilizalo sin invertir en servidores ni mantenimiento" %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-server text-primary mb-4"></i>
                        <h3 class="h4 mb-2">{% trans "Instálalo" %}</h3>
                        <p class="text-muted mb-0">{% trans "Elige el despliegue en tu servidor y ten el control completo del sistema" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6" >
                    <a class="portfolio-box" href="{% static "assets/img/back.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/back.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{% trans "Gráficos" %}</div>
                            <div class="project-name">{% trans "Análisis de tendencias" %}</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static "assets/img/business.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/business.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{% trans "Innovación" %}</div>
                            <div class="project-name">{% trans "Educa y aprende de forma innovadora" %}</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static "assets/img/tree.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/tree.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{% trans "Medioambiente" %}</div>
                            <div class="project-name">{% trans "Analiza la calidad del aire de tu ciudad" %}</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static "assets/img/portfolio/fullsize/4.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/portfolio/thumbnails/4.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{% trans "Anotaciones" %}</div>
                            <div class="project-name">{% trans "Guarda tus notas en cada mapa" %}</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static "assets/img/speedo.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/speedo.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">{% trans "Nanosensores" %}</div>
                            <div class="project-name">{% trans "Da de alta tus sensores y contribuye a Stics" %}</div>
                        </div></a
                    >
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{% static "assets/img/students.jpg" %}"
                        ><img class="img-fluid" src="{% static "assets/img/students.jpg" %}" alt="" style="height: 408px"/>
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">{% trans "Aprende" %}</div>
                            <div class="project-name">{% trans "Con Stics, aprende matemáticas y tecnología de forma divertida" %}</div>
                        </div></a
                    >
                </div>
            </div>
        </div>
    </div>
    <section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">{% trans "Stics es OpenSource. ¡Contribuye!" %}</h2>
            <a class="btn btn-light btn-xl" href="https://gitlab.com/Cildoz98/stics">{% trans "Accede a GitLab" %}</a>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">{% trans "¿Más información?" %}</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">{% trans "Estamos deseando oírte. Envíanos un email y nos pondremos en contacto contigo lo más rápidamente posible!" %}</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <a class="d-block" href="mailto:stics@outlook.es">stics@outlook.es</a>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center footer-dark" style="padding: 15px 0px;">
        <footer>
            <div class="container" style="margin: 0px;">
                <a class="text-center d-flex justify-content-center copyright" href="privacidad.html" style="color: gray; font-family: Titillium Web">Stics © 2020</a>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

    {% include 'scripts.html' %}
</body>

</html>
