.filtr-item {
  padding-top: 30px;
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

.filtr-item {
  padding-top: 30px;
}

img {
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

